<!DOCTYPE html>
<html>
<head>
    <title>Task Management API Documentation</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body { margin: 0; padding: 0; }
    </style>
</head>
<body>
    <div id="redoc"></div>
    <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"></script>
    <script>
        Redoc.init('/auth/v3/api-docs', {
            scrollYOffset: 50
        }, document.getElementById('redoc'))
    </script>
</body>
</html>